In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [2]:
ser1 = Series([1,2,3,4], index=['A','B','C','D'])

In [3]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
# indexを変更する
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [5]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [6]:
# 新しいindexの値を埋める
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [7]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [8]:
# ffillはforward fillの略
ser3.reindex(range(15),method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [11]:
# reshapeでDataFrameを作る
dframe = DataFrame(np.random.randn(25).reshape((5,5)), index=
                  ['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A -0.215847 -0.727920  1.171541  0.707837  0.539634
B  1.867475 -0.261981  0.524202  0.031129  0.755340
D -0.756868 -0.085773  0.530293  0.772595  0.410438
E  0.799825  0.177327 -0.104239  1.502769  0.414655
F -1.516578 -0.367947  0.639402 -0.579269  1.080862

In [12]:
new_index = ['A','B','C','D','E','F']
dframe2 = dframe.reindex(new_index)
dframe2

       col1      col2      col3      col4      col5
A -0.215847 -0.727920  1.171541  0.707837  0.539634
B  1.867475 -0.261981  0.524202  0.031129  0.755340
C       NaN       NaN       NaN       NaN       NaN
D -0.756868 -0.085773  0.530293  0.772595  0.410438
E  0.799825  0.177327 -0.104239  1.502769  0.414655
F -1.516578 -0.367947  0.639402 -0.579269  1.080862

In [16]:
new_columns = ['col1','col2','col3','col4','col5','col6']

dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -0.215847 -0.727920  1.171541  0.707837  0.539634   NaN
B  1.867475 -0.261981  0.524202  0.031129  0.755340   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.756868 -0.085773  0.530293  0.772595  0.410438   NaN
E  0.799825  0.177327 -0.104239  1.502769  0.414655   NaN
F -1.516578 -0.367947  0.639402 -0.579269  1.080862   NaN

In [17]:
dframe

       col1      col2      col3      col4      col5
A -0.215847 -0.727920  1.171541  0.707837  0.539634
B  1.867475 -0.261981  0.524202  0.031129  0.755340
D -0.756868 -0.085773  0.530293  0.772595  0.410438
E  0.799825  0.177327 -0.104239  1.502769  0.414655
F -1.516578 -0.367947  0.639402 -0.579269  1.080862

In [18]:
dframe.ix[new_index, new_columns]

/Users/tsubasa/.pyenv/versions/anaconda3-5.3.1/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.
/Users/tsubasa/.pyenv/versions/anaconda3-5.3.1/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

       col1      col2      col3      col4      col5  col6
A -0.215847 -0.727920  1.171541  0.707837  0.539634   NaN
B  1.867475 -0.261981  0.524202  0.031129  0.755340   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.756868 -0.085773  0.530293  0.772595  0.410438   NaN
E  0.799825  0.177327 -0.104239  1.502769  0.414655   NaN
F -1.516578 -0.367947  0.639402 -0.579269  1.080862   NaN