In [1]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

In [2]:
# csv読み込んでDataFrameにする
dframe = pd.read_csv('lec25.csv')
dframe

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog

In [3]:
# 1行目を列名にしない場合
dframe = pd.read_csv('lec25.csv',header=None)
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [4]:
# read_tableというメソッドでも同様
ddframe = pd.read_table('lec25.csv',sep=',',header=None)
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [5]:
# 読み込む行数を指定
pd.read_csv('lec25.csv',header=None,nrows=2)

   0  1  2  3      4
0  q  r  s  t  apple
1  2  3  4  5   pear

In [6]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [10]:
# 保存
dframe.to_csv('mytextdata_out.csv')
!cat mytextdata_out.csv

,0,1,2,3,4
0,q,r,s,t,apple
1,2,3,4,5,pear
2,a,s,d,f,rabbit
3,5,2,5,7,dog

In [11]:
import sys
dframe.to_csv(sys.stdout, sep='_')

_0_1_2_3_4
0_q_r_s_t_apple
1_2_3_4_5_pear
2_a_s_d_f_rabbit
3_5_2_5_7_dog

In [12]:
# 出力する列を選択
dframe.to_csv(sys.stdout,columns=[0,1,2])

,0,1,2
0,q,r,s
1,2,3,4
2,a,s,d
3,5,2,5