In [1]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

In [2]:
data = Series(['one','two',np.nan, 'four'])

In [3]:
data

0     one
1     two
2     NaN
3    four
dtype: object

In [4]:
data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [5]:
data.dropna()

0     one
1     two
3    four
dtype: object

In [8]:
dframe = DataFrame([[1,2,3],[np.nan,5,6],[7,np.nan,9],[np.nan,np.nan,np.nan]])

In [9]:
dframe

     0    1    2
0  1.0  2.0  3.0
1  NaN  5.0  6.0
2  7.0  NaN  9.0
3  NaN  NaN  NaN

In [10]:
clean_dframe = dframe.dropna()

In [11]:
clean_dframe

     0    1    2
0  1.0  2.0  3.0

In [12]:
# 全てNaNの行を削除
dframe.dropna(how='all')

     0    1    2
0  1.0  2.0  3.0
1  NaN  5.0  6.0
2  7.0  NaN  9.0

In [13]:
# 列を軸に指定
dframe.dropna(axis=1)
# 全ての列にNaNがある

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [16]:
dframe2 = DataFrame([[1,2,3,np.nan],[2,np.nan,5,6],[np.nan,7,np.nan,9],[1,np.nan,np.nan,np.nan]])
dframe2

     0    1    2    3
0  1.0  2.0  3.0  NaN
1  2.0  NaN  5.0  6.0
2  NaN  7.0  NaN  9.0
3  1.0  NaN  NaN  NaN

In [17]:
# 閾値を指定
# NaNではない値が2以上のみ
dframe2.dropna(thresh=2)

     0    1    2    3
0  1.0  2.0  3.0  NaN
1  2.0  NaN  5.0  6.0
2  NaN  7.0  NaN  9.0

In [18]:
# NaNではない値が3以上のみ
dframe2.dropna(thresh=3)

     0    1    2    3
0  1.0  2.0  3.0  NaN
1  2.0  NaN  5.0  6.0

In [19]:
# NaNを埋める
dframe2.fillna(1)

     0    1    2    3
0  1.0  2.0  3.0  1.0
1  2.0  1.0  5.0  6.0
2  1.0  7.0  1.0  9.0
3  1.0  1.0  1.0  1.0

In [21]:
# 列ごとに埋める
dframe2.fillna({0:0,1:1,2:2,3:3})

     0    1    2    3
0  1.0  2.0  3.0  3.0
1  2.0  1.0  5.0  6.0
2  0.0  7.0  2.0  9.0
3  1.0  1.0  2.0  3.0

In [22]:
dframe2

     0    1    2    3
0  1.0  2.0  3.0  NaN
1  2.0  NaN  5.0  6.0
2  NaN  7.0  NaN  9.0
3  1.0  NaN  NaN  NaN

In [23]:
# inplace=Trueで元のDataFrameを変更する
dframe2.fillna(0,inplace=True)

In [24]:
dframe2

     0    1    2    3
0  1.0  2.0  3.0  0.0
1  2.0  0.0  5.0  6.0
2  0.0  7.0  0.0  9.0
3  1.0  0.0  0.0  0.0