In [1]:
import numpy as np
from pandas import Series,DataFrame
import pandas as pd

In [2]:
ser = Series(np.random.randn(6),index=[[1,1,1,2,2,2],['a','b','c','a','b','c']])

In [3]:
ser

1  a   -1.159160
   b    0.830325
   c    0.566366
2  a    0.842288
   b    1.089606
   c    0.052725
dtype: float64

In [4]:
ser.index

MultiIndex(levels=[[1, 2], ['a', 'b', 'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [5]:
ser[1]

a   -1.159160
b    0.830325
c    0.566366
dtype: float64

In [6]:
ser[2]

a    0.842288
b    1.089606
c    0.052725
dtype: float64

In [7]:
# 2階層目の要素だけ選択
ser[:,'a']

1   -1.159160
2    0.842288
dtype: float64

In [8]:
dframe = ser.unstack()
dframe

          a         b         c
1 -1.159160  0.830325  0.566366
2  0.842288  1.089606  0.052725

In [9]:
dframe.T.unstack()

1  a   -1.159160
   b    0.830325
   c    0.566366
2  a    0.842288
   b    1.089606
   c    0.052725
dtype: float64

In [10]:
# DataFrameに階層的なindexを作成
dframe2 = DataFrame(np.arange(16).reshape(4,4),
                   index=[['a','a','b','b'],[1,2,1,2]],
                   columns=[['NY','NY','LA','SF'],['cold','hot','hot','cold']])
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [12]:
# 階層的なindexに名前を付ける
# 行方向
dframe2.index.names = ['INDEX_1','INDEX_2']
# 列方向
dframe2.columns.names = ['Cities','Temp']
dframe2

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [13]:
# 階層構造を逆にする。
# 列方向
dframe2.swaplevel('Cities','Temp',axis=1)

Temp            cold hot     cold
Cities            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [17]:
dframe2.sortlevel(1)

/Users/tsubasa/.pyenv/versions/anaconda3-5.3.1/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: sortlevel is deprecated, use sort_index(level= ...)
  """Entry point for launching an IPython kernel.

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
b       1          8   9  10   11
a       2          4   5   6    7
b       2         12  13  14   15

In [18]:
dframe2.sortlevel(1).sortlevel(0)

/Users/tsubasa/.pyenv/versions/anaconda3-5.3.1/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: sortlevel is deprecated, use sort_index(level= ...)
  """Entry point for launching an IPython kernel.

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [19]:
# 階層に応じた計算
dframe2.sum(level='Temp',axis=1)

Temp             cold  hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27