In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
# 重複したデータを持つDataFrame
dframe = DataFrame({'key1': ['A'] * 2 + ['B'] * 3,
                   'key2': [2, 2, 2, 3, 3]})
dframe

  key1  key2
0    A     2
1    A     2
2    B     2
3    B     3
4    B     3

In [6]:
# 重複したデータのチェック
dframe.duplicated()

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [7]:
# 重複した行の削除
dframe.drop_duplicates()

  key1  key2
0    A     2
2    B     2
3    B     3

In [8]:
# 1つの列に注目して重複を削除
dframe.drop_duplicates(['key1'])

  key1  key2
0    A     2
2    B     2

In [9]:
dframe

  key1  key2
0    A     2
1    A     2
2    B     2
3    B     3
4    B     3

In [15]:
# 最初の重複データだけでなく、最後の重複データを残す
# dframe.drop_duplicates(['key1'],take_last=True)
dframe.drop_duplicates(['key1'],keep='last')

  key1  key2
1    A     2
4    B     3